<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aumum.app.mobile"
    android:versionCode="102"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.aumum.app.mobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.aumum.app.mobile.permission.C2D_MESSAGE" />

    <application
        android:name="com.aumum.app.mobile.BootstrapApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Aumum.Light" >
        <activity
            android:name="com.aumum.app.mobile.ui.LaunchActivity"
            android:theme="@style/Theme.Aumum.Light.NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.main.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.aumum.app.mobile.core.infra.security.AccountAuthenticatorService"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="com.aumum.app.mobile.ui.splash.SplashActivity"
            android:theme="@style/Theme.Aumum.Light.NoTitle" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.register.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.register.RegistrationSuccessActivity"
            android:label="@string/title_activity_registration_success" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.account.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.account.ResetPasswordSuccessActivity"
            android:label="@string/title_activity_reset_password_success" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.user.UserActivity"
            android:label="@string/title_activity_user" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.aumum.app.mobile.ui.notification.NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.aumum.app.mobile" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/icon" />

        <activity
            android:name="com.aumum.app.mobile.ui.party.PartyCommentsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_party_comments"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.party.PartyDetailsActivity"
            android:label="@string/title_activity_party_details" >
        </activity>
        <activity android:name="com.aumum.app.mobile.ui.crop.CropImageActivity" />
        <activity
            android:name="com.aumum.app.mobile.ui.party.NewPartyActivity"
            android:label="@string/title_activity_new_party" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.party.SearchPartyActivity"
            android:label="@string/title_activity_search_party" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.party.PartiesActivity"
            android:label="@string/title_activity_parties" >
        </activity>

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="aumum#aumum" />

        <service android:name="com.easemob.chat.EMChatService" />

        <activity
            android:name="com.aumum.app.mobile.ui.contact.AllGroupsActivity"
            android:label="@string/title_activity_all_groups" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.chat.ChatActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.contact.AddContactActivity"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.contact.ContactRequestsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_contact_requests"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.contact.MyGroupsActivity"
            android:label="@string/title_activity_my_groups" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.contact.InviteFriendsActivity"
            android:label="@string/title_activity_invite_friends" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.aumum.app.mobile.ui.asking.NewAskingActivity"
            android:label="@string/title_activity_new_asking" >
        </activity>
    </application>

</manifest>
