<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aumum.app.mobile" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <permission
        android:name="com.aumum.app.mobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.aumum.app.mobile.permission.C2D_MESSAGE" />

    <application
        android:name=".BootstrapApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Aumum.Light"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:name=".ui.LaunchActivity"
            android:theme="@style/Theme.Aumum.Light.NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".core.infra.security.AccountAuthenticatorService"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.Aumum.Light.NoTitle" >
        </activity>
        <activity
            android:name=".ui.account.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.account.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ui.account.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password" >
        </activity>
        <activity
            android:name=".ui.account.ResetPasswordSuccessActivity"
            android:label="@string/title_activity_reset_password" >
        </activity>
        <activity
            android:name=".ui.user.UserActivity"
            android:label="@string/title_activity_user" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.aumum.app.mobile.user" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.UserSingleActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_user"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.push.NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.aumum.app.mobile" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher_notification" />

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="aumum#aumum" />

        <service android:name="com.easemob.chat.EMChatService" />

        <activity
            android:name=".ui.chat.ChatActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.contact.ContactRequestsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_contact_requests"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name=".ui.image.ImagePickerActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104116792" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="548989a7fd98c57e73000956" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <activity
            android:name="org.lasque.tusdk.impl.activity.TuFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
            android:name=".ui.account.CompleteProfileActivity"
            android:label="@string/title_activity_complete_profile" >
        </activity>
        <activity
            android:name=".ui.account.VerifyActivity"
            android:label="@string/title_activity_verify" >
        </activity>
        <activity
            android:name=".ui.group.GroupDetailsActivity"
            android:label="@string/title_activity_group_details" >
        </activity>
        <activity
            android:name=".ui.contact.ContactPickerActivity"
            android:label="@string/title_activity_contact_picker" >
        </activity>
        <activity android:name=".ui.user.UserListActivity" />
        <activity
            android:name=".ui.report.ReportActivity"
            android:label="@string/title_activity_report_details" >
        </activity>
        <activity
            android:name=".ui.settings.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".ui.settings.AboutAppActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
        <activity android:name=".ui.browser.BrowserActivity" />
        <activity
            android:name=".ui.area.AreaListActivity"
            android:label="@string/title_activity_area_list" >
        </activity>
        <activity android:name=".ui.user.AreaUsersActivity" />
        <activity
            android:name=".ui.settings.NotificationActivity"
            android:label="@string/title_activity_notification_settings" >
        </activity>
        <activity
            android:name=".ui.user.UserTagListActivity"
            android:label="@string/title_activity_user_tag_list" >
        </activity>
        <activity android:name=".ui.user.TagUsersActivity" />
        <activity android:name=".ui.image.ImageViewActivity" />
        <activity android:name=".ui.image.GifViewActivity" />
        <activity android:name=".ui.image.ImageViewPagerActivity" />
        <activity android:name=".ui.group.GroupListActivity"
            android:label="@string/title_activity_group_list">
        </activity>
        <activity
            android:name=".ui.group.GroupRequestsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_group_requests"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity android:name=".ui.group.GroupMemberPickerActivity"
            android:label="@string/title_activity_group_member_picker">
        </activity>
        <activity android:name=".ui.group.NewGroupActivity"
            android:label="@string/title_activity_new_group">
        </activity>
        <activity android:name=".ui.group.MyGroupsActivity"
            android:label="@string/title_activity_my_groups">
        </activity>
    </application>

</manifest>
